body {
    /* width: 100vw; */
    /* height: 100vh; */
    margin: 0px;
    /* overflow: hidden; */
}

#root {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    /* max-height: 100%; */
}

.navbar {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100vw;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 40%;
    /* width: 20%; */
    margin-left: 150px;
}

#logo-div {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo-div a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#options {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 220px;
}

a {
    font-family: 'ITC Avant Garde Gothic Std Medium';
    font-size: 40px;
    color: black;
    text-decoration: none;
    margin-left: 70px;
}

a:hover {
    text-decoration: underline;
}

#content {
    position: absolute;
    top: 25%;
    width: 100vw;
    height: 50%;
}

#buffer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

#left {
    position: absolute;
    left: -2%;
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 30px; */
}

#right {
    position: absolute;
    width: 43%;
    height: 70%;
    right: 0%;
    bottom: 0%;
}

#firstname, #lastname {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'ITC Avant Garde Gothic Std Bold';
    /* font-style: normal;
    font-weight: normal; */
    font-size: 18.25vw;
    /* color: #2F489F; */
    color: #4054A3;
    /* color: #49458F; */
    margin: 0px;
}

#firstname {
    width: 100%;
    height: 70%;
    text-align: right;
}

#lastname {
    width: 100%;
}

#swe {
    font-family: 'ITC Avant Garde Gothic Std Bold';
    font-style: normal;
    /* font-size: 85px; */
    font-size: 5vw;
    color: black;
    width: 100%;
    height: 30%;
    margin: 0px;
    margin-right: 1vw;
    text-align: right;
}

#location {
    font-family: 'ITC Avant Garde Gothic Std Medium';
    font-style: normal;
    font-weight: normal;
    /* font-size: 40px; */
    /* height: 106%; */
    font-size: 2.4vw;
    position: absolute;
    bottom: -9%;
    /* bottom: 0%; */
    /* right: 12vw; */
    right: 12.25vw;
    margin: 0px;
    text-align: end;
}





/*
FONTS 
*/

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold'), url('/assets/fonts/itc-avant-garde-gothic-std-cufonfonts-webfont/ITCAvantGardeStdBold.woff') format('woff');
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold Condensed'), url('/assets/fonts/itc-avant-garde-gothic-std-cufonfonts-webfont/ITCAvantGardeStdBoldCn.woff') format('woff');
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium'), url('/assets/fonts/itc-avant-garde-gothic-std-cufonfonts-webfont/ITCAvantGardeStdMd.woff') format('woff');
}