body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

#firstname, #lastname {
    font-family: 'Roboto', sans-serif;
    font-size: 350px;
    color: #2F489F;
    margin: 0px;
}

#root {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#firstname {
    position: absolute;
    left: -40px;
    top: 180px;
}

#lastname {
    position: absolute;
    top: 320px;
    right: -30px;
}